---
const { image, video, title, description, ctaText, ctaLink } = Astro.props;
import { Image } from "astro:assets";
---

<section class="relative pt-48 pb-24">
  {
    video ? (
      <video
        class="absolute inset-0 w-full h-full object-cover"
        src={video}
        autoplay
        muted
        loop
        playsinline
      />
    ) : image ? (
      <Image src={image} alt={title} class="w-full" />
    ) : (
      <div class="absolute inset-0 w-full h-full object-cover bg-linear-to-b from-white to-transparent" />
    )
  }
  <div
    class="absolute inset-0 w-full h-full object-cover bg-linear-to-t from-white/20 to-white/40"
  >
  </div>
  <div
    class="general-padding relative z-10 text-center md:text-left text-white"
  >
    <h1 class="text-4xl md:text-6xl xl:text-7xl font-bold mb-8 text-primary">
      {title}
    </h1>
    <p
      class="text-xl md:text-2xl xl:text-3xl font-semibold mb-8 text-chocolate"
    >
      {description}
    </p>
    {
      ctaLink && ctaText && (
        <a
          href={ctaLink}
          class="inline-block bg-primary text-white py-2 px-4 rounded-lg hover:bg-primary/80 transition-colors"
        >
          {ctaText}
        </a>
      )
    }
  </div>
</section>
